.jumbotron {
	background-color: red;
	color: orange;
	margin-top: 50px;
}

.btn {
	background-color: orange;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: red;
	margin-bottom: 0px;
}

.card-futbol {
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-space-icon {
	padding-right: 10px;
}