@red: #fc3003;
@orange: #f06813;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @red;
	color: @orange;
	.margenes(50px, 0px);
}

.btn {
	background-color: @orange;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: @red;
	.margenes(10px, 0px);
}

.card-futbol {
	flex: 1 200px;
	.margenes(10px, 0px);
}
.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-space-icon {
	padding-right: 10px;
}