$red: #fc3003;
$orange: #f06813;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $red;
	color: $orange;
	@include margenes(10px, 0px);
}

.btn {
	background-color: $orange;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: $red;
	@include margenes(10px, 0px);
}

.card-futbol {
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-space-icon {
	padding-right: 10px;
}