.jumbotron {
  background-color: #fc3003;
  color: #f06813;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn {
  background-color: #f06813; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #fc3003;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-futbol {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-space-icon {
  padding-right: 10px; }
